:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgb(0, 0, 0, 0.3); }

* {
  padding: 0;
  margin: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: var(--color-grey-dark-2);
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  min-height: 50rem; }

.header {
  height: 7rem;
  font-size: 1.4rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center; }

.content {
  display: flex;
  margin: 0 20px; }

.side-bar {
  background-color: green;
  flex: 0 0 18%; }

.hotel-view {
  background-color: red;
  flex: 1 1; }

.logo {
  height: 3.25rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    font: inherit;
    font-size: inherit;
    border: none;
    width: 90%;
    padding: 0.7rem 2rem;
    background-color: var(--color-grey-light-2);
    border-radius: 100px;
    margin-right: -3rem;
    transition: all 0.2s; }
    .search__input:focus {
      width: 100%;
      outline: none;
      background-color: var(--color-grey-light-3); }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4); }
  .search__input:focus + .search__button {
    background-color: var(--color-grey-light-3); }
  .search__button {
    background-color: var(--color-grey-light-2);
    border: none; }
    .search__button:focus {
      outline: none; }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); }

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    background-color: var(--color-grey-light-2); }
  .user-nav__icon-box {
    display: flex;
    align-items: center;
    position: relative; }
  .user-nav__icon {
    width: 2.25rem;
    height: 2.25rem;
    fill: var(--color-grey-dark-2); }
  .user-nav__notifications {
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 100%;
    background-color: var(--color-primary);
    color: #fff;
    position: absolute;
    right: 1.5rem;
    top: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center; }
  .user-nav__user-photo {
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 100%; }
