//////////////////////
// LOGO
.logo{
    height: 3.25rem;
    margin-left: 2rem;
}



//////////////////////
// SEARCH

.search{
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__input{
        font: inherit;
        font-size: inherit;
        border: none;
        width: 90%;
        padding: 0.7rem 2rem;
        background-color: var(--color-grey-light-2);
        border-radius: 100px;
        margin-right: -3rem;
        transition: all 0.2s;
        &:focus{
            width: 100%;
            outline: none;
            background-color: var(--color-grey-light-3);
        }
        &::-webkit-input-placeholder{
            font-weight: 100;
            color: var(--color-grey-light-4)
        }
    }
    &__input:focus + &__button{
        background-color: var(--color-grey-light-3);
    }

    &__button{
        background-color: var(--color-grey-light-2);
        border: none;
        &:focus{
            outline: none;
        }
    }

    &__icon{
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);
    }
}




//////////////////////
// INPUT

.user-nav{
    align-self: stretch;
    display: flex;
    align-items: center;

    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }

    & > *:hover{
        background-color: var(--color-grey-light-2);
    }

    &__icon-box{
        display: flex;
        align-items: center;
        position: relative;
    }

    &__icon{
        width: 2.25rem;
        height: 2.25rem;
        fill: var(--color-grey-dark-2);
    }

    &__notifications{
        font-size: 0.8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 100%;
        background-color: var(--color-primary);
        color: #fff;
        position: absolute;
        right: 1.5rem;
        top:1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    

    &__user-photo{
        width: 3.75rem;
        height: 3.75rem;
        border-radius: 100%;
    }

    
}

//////////////////////
// Side Nav

.side-nav{ 
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;

    &__item{
        background-color: var(--color-grey-dark-1);
        margin-bottom: 0.5rem;
        position: relative;
    }

    &__item::before{
        position: absolute;
        content: "";
        background-color: var(--color-primary);
        width: 3px;
        height: 100%;
        transform: scaleY(0);
        transition: transform 0.2s, width 0.5s 0.2s;
    }

    &__item:hover::before{
        transform: scaleY(1);
        width: 100%;
    }

    &__item:active::before{
        background-color: var(--color-primary-dark);
    }

    &__active{
        background-color: var(--color-primary);
    }

    &__link{
        display: flex;
        align-items: center;
    }


    &__link:visited,
    &__link:link{
        display: flex;
        color: var(--color-grey-light-1);
        text-transform: uppercase;
        padding: 1.5rem 3rem;
        text-decoration: none;
        position: relative;
        z-index: 100;

    }

    &__icon{
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color-grey-light-1);
        margin-right: 2rem;

    }
}

//////////////////////
// LEGAL

.legal{
    font-size: 1.2rem;
    text-align: center;
    padding: 2.5rem;
    color: #fff;
}

//////////////////////
// Gallery

.gallery{
    display: flex;
    flex-direction: row;

    &__photo{
        width: 100%;
        display: block;
    }
}

//////////////////////
// HOTEL OVERVIEW

.overview{
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-grey-light-2);
    background-color: #fff;

    &__heading{
        font-size: 2.25rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        padding: 1.5rem;
        font-weight: 300;
        padding: 1.5rem;

    }

    &__stars{
        margin-right: auto;
        display: flex;
    }

    &__icon-star,
    &__icon-location{
        height: 2rem;
        width: 2rem;
        fill: var(--color-primary);
    }

    &__location{
        display: flex;
    }

    &__rating{
        display: flex;
        flex-direction: column;
        background-color: var(--color-primary);
        color: #fff;
        margin-left: 3rem;
        align-items: center;
        align-self: stretch;
        padding: 0 2.25rem;
        margin-left: 3rem;
        justify-content: center;

        &__average{
            font-size: 2.25rem;
            font-weight: 300;
        }
        &__count{
            font-size: 1rem;
            text-transform: uppercase;
        }
    }
}

//////////////////////
// Button inline


.btn-inline{
    border: none;
    color: var(--color-primary);
    border-bottom: 1px solid currentColor;
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
    transition: color 0.2s;

    &:hover{
        color: var(--color-grey-dark-1);
    }

    &:focus{
        outline: none;
        box-shadow: none;
        animation: pulstate 1s infinite;
    }
}

@keyframes pulstate{
    0% {
        transform: scale(1);
        box-shadow: none;
    }
    50% {
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
    }
    100% {
        transform: scale(1);
        box-shadow: none;
    }
}

