//////////////////////
// LOGO
.logo{
    height: 3.25rem;
}



//////////////////////
// SEARCH

.search{
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__input{
        font: inherit;
        font-size: inherit;
        border: none;
        width: 90%;
        padding: 0.7rem 2rem;
        background-color: var(--color-grey-light-2);
        border-radius: 100px;
        margin-right: -3rem;
        transition: all 0.2s;
        &:focus{
            width: 100%;
            outline: none;
            background-color: var(--color-grey-light-3);
        }
        &::-webkit-input-placeholder{
            font-weight: 100;
            color: var(--color-grey-light-4)
        }
    }
    &__input:focus + &__button{
        background-color: var(--color-grey-light-3);
    }

    &__button{
        background-color: var(--color-grey-light-2);
        border: none;
        &:focus{
            outline: none;
        }
    }

    &__icon{
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);
    }
}




//////////////////////
// INPUT

.user-nav{
    align-self: stretch;
    display: flex;
    align-items: center;

    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }

    & > *:hover{
        background-color: var(--color-grey-light-2);
    }

    &__icon-box{
        display: flex;
        align-items: center;
        position: relative;
    }

    &__icon{
        width: 2.25rem;
        height: 2.25rem;
        fill: var(--color-grey-dark-2);
    }

    &__notifications{
        font-size: 0.8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 100%;
        background-color: var(--color-primary);
        color: #fff;
        position: absolute;
        right: 1.5rem;
        top:1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__user{

    }

    &__user-photo{
        width: 3.75rem;
        height: 3.75rem;
        border-radius: 100%;
    }

    &__user-name{

    }
}